<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset("style.css") }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        {% block javascripts %}{% endblock %}

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">CheckPoint 4 - 2017 - Bordeaux #3 PHP</h5>
                        <p class="grey-text text-lighten-4"><br></p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    2017 Alexandre Vigeant, OpenSource
                </div>
            </div>
        </footer>

    </body>
</html>
