{% extends 'base.html.twig' %}

{% block body %}


<div class="table-bordered">
    <table>
        <thead>
            <tr>
                <th>Nom du produit</th>
                <th>Quantité</th>
                <th>Prix HT</th>
                <th>Prix TTC</th>
            </tr>
        </thead>

        <tbody>
    {% for prix in  %}
        <tr>
            <td>{{  }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    {% endfor %}
    </table>


</div>


{% endblock %}