{% extends '@Subject/layout.html.twig' %}

{% block title %}
    Création PANIER
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block titre_page %}
    Création d'un panier
{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ path('homepage') }}">Menu</a></li>
    <li class="active">Créer un panier</li>
{% endblock %}
{% block content %}



    {{ form(form) }}



{% endblock %}
{% block scripts %}
{% endblock %}
